/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/packages_attachments/*
/public/course_attachments/*
/public/users_attachments/*
/public/feature_content/*
/resources/views/dashboard/*
